@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 64px; /* Ajuste este valor se necessário */
}

@media (max-width: 768px) {
  body {
    padding-top: 56px; /* Ajuste para dispositivos móveis */
  }
}

/* Adicionando transição suave para todos os elementos */
* {
  transition: all 0.3s ease-in-out;
}

